.page {
  max-width: 1280px;
  min-width: 320px;
  font-family: 'Roboto', Arial, sans-serif;
  background: #1B2944;
  color: white;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 73.75%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 41px;
}

.header__logo {
  width: 100px;
  height: 28px;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-links__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links__item {
  margin-right: 21px;
}

.social-links__item:last-child {
  margin-right: 0;
}

.social-icon {
  width: 20px;
  height: 20px;
}

.features {
	padding: 64px 168px 92px;
	background-color: rgba(20, 31, 53, 1);
}

.features__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 0 0 80px 0;
}

.features-block {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 63px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.storage-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, auto);
	justify-content: space-between;
	min-height: 207px;
	margin: 0;
}

.storage-block__img {

}

.storage-block__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	color: #FFFFFF;
	margin: 0;
}

.storage-block__subtitle {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #FFFFFF;
	min-height: 90px;
	white-space: pre-line;
	margin: 0;
}

.portfolio {
	min-height: 400px;
	padding: 64px 168px;
}

.portfolio__title {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
	margin: 0 0 auto 0;
}

.portfolio__cards {
	display: flex;
	flex-direction: row;
	margin: 54px 0 0 0;
	padding: 0;
}

.portfolio__card {
	display: block;
	width: 304px;
	min-height: 304px;
	position: relative;
	overflow: hidden;
	background-image: linear-gradient(#c4c4c400, #213e60);
	margin: 0 16px 0 0;
	list-style-type: none;
}

.portfolio__card:nth-of-type(3n) {
	margin: 0;
}

.portfolio__background {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.portfolio__subtitle {
	max-width: 170px;
	position: absolute;
	top: 172px;
	left: 30px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 28px;
	margin: 0;
	white-space: pre-line;
}

.portfolio__button {
	position: absolute;
	bottom: 28px;
	left: 30px;
	width: 120px;
	height: 36px;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	line-height: 36px;
	background: #EC1F46;
}

.gallery {
	width: 73.75%;
	margin: 0 auto;
	padding: 96px 168px;
}

.gallery_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 224px 225px 224px;
	gap: 16px;
	background-color: rgba(20, 31, 53, 1);
	list-style-type: none;
	margin: 0;
}

.gallery__item {
	box-sizing: border-box;
	margin: 0;
	position: relative;
	padding: 0;
	margin: 0;
}

.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery__time {
	position: absolute;
	top: 8px;
	right: 28px;
	max-width: 51px;
	min-height: 15px;
	z-index: 1;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	margin: 0;
}

.gallery__play-circle-filled {
	position: absolute;
	top: 9.34px;
	right: 9.34px;
	background-image: url("./images/play_circle_filled.svg");
}